//fonts
// $ft-title: "Pacifico", cursive;
$ft-name: "Caveat", cursive;
$ft-title: "Playwrite CU", cursive;
$ft-text: "Fredoka", sans-serif;
//colors
// $bg-body:#ffe599;
// $bg-body:#e6e6fa;
// $bg-body:#da9fda;
$bg-body:linear-gradient(to bottom, #ffb6c1 45%, #e3a9ce 50%, #da9fda 55%);
$clr-title:#800080;
$bg-nav:#ffb6c1;
$clr-links:#e63946;
//sizes